.coin_1, .coin_2, .coin_3, .coin_4, .coin_5, .coin_6{
	background: url("../assets/sprites.png") no-repeat;
}

.coin_1{
	background-position: 0 0;
	width: 50px;
	height: 50px;
	vertical-align: middle;
}

.coin_2{
	background-position: -50px 0;
	width: 50px;
	height: 50px;
}

.coin_3{
	background-position: -100px 0;
	width: 50px;
	height: 50px;
}

.coin_4{
	background-position: -150px 0;
	width: 50px;
	height: 50px;
}

.coin_5{
	background-position: -200px 0;
	width: 50px;
	height: 50px;
}

.coin_6{
	background-position: -250px 0;
	width: 50px;
	height: 50px;
}

.coin{
	width: 50px;
	height: 50px;
	background: url("../assets/sprites.png") left center;
	animation: play .5s steps(6) infinite;
	-webkit-animation: anim .5s steps(1) infinite;
}

.coin-collected{
	width: 50px;
	height: 50px;
	background: url("../assets/coin_collected.png") left center;
	animation: play .3s steps(7) infinite;
	-webkit-animation: anim .3s steps(1) infinite;
}

.vane{
	width: 50px;
	height: 50px;
	background: url("../assets/vaneSprite.png") left center;
	animation: play .5s steps(2) infinite;
	-webkit-animation: anim 1s steps(1) infinite;
}

@-webkit-keyframes anim {
    0% {background-position: -300px;}
    17% {background-position: -50px;}
    34% {background-position: -100px;}
    51% {background-position: -150px;}
    68% {background-position: -200px;}
    85% {background-position: -250px;}
    100% {background-position: -300px;}
}

@keyframes play{
	100% {background-position: -300px;}
}

